.wrapper{
	width: 1090px;
	margin: 0 auto;
}
.rownav{
	font-size: 12px;
	color: #333;
	line-height: 1;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rownav a{
	color: #333;
}
.rownav a:hover{
	text-decoration: underline;
}
.photo{
	float: left;
	width: 530px;
	height: 430px;
	position:relative;
}
.photo > ul {
	position: absolute;
	width: 74px;
	right: 0;
}
.photo > ul > li {
	box-sizing: border-box;
	width: 74px;
	height: 74px;
	margin-bottom: 15px;
	background: #f4f4f4;
	overflow: hidden;
	border: 1px solid #e8e8e8;

}
.photo > ul > li:hover {
	border: 2px solid #b4a078;
}
.photo > ul > li:hover .photobig{
	z-index: 10;
}
.photo .photobig{
	box-sizing: border-box;
	position: absolute;
	width: 430px;
	height: 430px;
	top: 0;
	left: -456px;
	background-color: #f4f4f4;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.desc {
	width: 510px;
	margin-left: 580px;
	height: 430px;
	position: relative;
} 
.desc .pj {
	position: absolute;
	right: 0; top: 20px;
}
.desc .pj  p{
	font-weight: bold;
}
.desc p {
	line-height: 2;
}
.color1 {
	color: #e36844;
}
.title1 {
	font-size: 20px;
	margin: 5px 0 0;
}
.sup-title{
	font-size: 12px;
	color: #b19e7a;
	border: 1px solid #b19e7a;
	background: #f5f3ef;
	padding: 0 5px;
}
.sub-title {
	font-size: 14px;
	color: #999;
}
.desc .box {
	padding: 10px;
	background-color: #f5f3ef;
	font-size: 12px;
	margin-top: 15px;
	border-top: 1px dotted #dedede;
	border-bottom: 1px dotted #dedede;
}
.desc .box td:first-child{
	width: 50px;
	line-height: 34px;
}