/* 
* @Author: Marte
* @Date:   2017-12-27 13:25:18
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-29 03:41:18
*/
@charset "utf-8";
ul,ol,li{list-style:none}
a{text-decoration:none;word-wrap:break-word;outline:none;hide-focus:expression(this.hideFocus=true);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;}
a:hover{text-decoration:none;}

/* lanmu-content */
.lanmu-content{
    position: absolute;
    top: 250px;
    margin: 0 0 0 10px;
    width:200px;}
.lanmu-list{display:block;}
.lanmu-list dt{display:block;height:40px;background:#0066CC;font:bold 18px/40px "宋体"; color:#fff;text-align: center;}
.lanmu-list dd{padding-top:2px;}
.lanmu-list dt a{
    color: white;
}
.lanmu-list dd a{
    display:block;
    height:33px;
    background:#f9f9f9;
    border-bottom:1px solid #eee;
    border-top:2px solid #fff;
    border-left:2px solid #999;
    border-right:1px solid #eee;
    font:normal 15px/33px Georgia "宋体"; 
    color:#adadad;
    padding-left:25px; 
    line-height: 33px;}
.lanmu-list dd a:hover{padding-left:35px;}
.lanmu-list dd a:hover,.lanmu-list dd a.current{border-left:2px solid #1160ba;background-color:#f6f6f6;color:#1160ba;font-weight:bold;}


#center{
    position: absolute;
    top: 250px;
    left: 400px;
    width: 750px;
}
#center p{
    text-indent: 30px;
    font-size: 20px;
    line-height: 22px;
}
#center hr{
    width: 800px;  
}

.szdw b{
    position:absolute;
    top: -3px;
    left: 30px;
    font-family: 楷体;
    font-size: 23px;
    font-weight: normal;
}


#slider{width:650px;height:340px;margin:10% auto;position:relative;}
.slider_list li{position:absolute;display:none;}
.slider_list li:first-child{display:block;}
.slider_icon{position:absolute;z-index:1;left:40%;bottom:20px;font-size:0;padding:4px 8px;border-radius:12px;background-color:hsla(0,0%,100%,.3);}
.slider_icon i{display:inline-block;width:12px;height:12px;border-radius:50%;margin:0 5px;}
.btn{background:#fff;}
.arrow{display:none;width:30px;height:60px;background-color:rgba(0,0,0,.2);position:absolute;top:50%;margin-top:-30px;}
.prve{left:0;}
.next{right:0;}
.arrow span{display:block;width:10px;height:10px;border-bottom:2px solid #fff;border-left:2px solid #fff;}
.slider_left{margin:25px 0 0 10px;transform:rotate(45deg);}
.slider_right{margin:25px 0 0 5px;transform:rotate(-135deg);}
.arrow:hover{background:#444;}
#slider:hover .arrow{display:block;}
.btn_act{background:#db192a;}
/*#footer{
    background:#4876FF;
    width: 1100px;
    height: 220px;
    position:absolute;
    top: 2000px;

}
.gx{
    font-size: 18px;
    color:white;
    position: absolute;
    left: 50px;
    top: 50px;
}
.lj{
    font-size: 18px;
    color:white;
    position: absolute;
    left: 370px;
    top:50px;
}
#znjs{
    font-size: 18px;
    color:white;
    position: absolute;
    left: 740px;
    top: 50px;
}
.bq{
    color:white;
    position: absolute;
    left: 380px;
    top: 140px;
    font-size: 14px;
}
.ewm1{
    position: absolute;
    left: 200px;
    top: 100px;
}
.ewm2{
    position: absolute;
    left: 750px;
    top: 100px;
}*/