/* 
* @Author: Marte
* @Date:   2017-11-22 08:15:35
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-03 20:13:57
*/
@charset "utf-8";
body{
    width: 1002px;
    margin: 0 auto;
   /* border: 1px solid orange;*/
}
header{
    height: 202px;
    background: url(../images/header.jpg) no-repeat;

}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    position: relative;/*相对位置*/
    top:11px;
    left:805px;
}
header ul li{
    float: left;
    margin-right:10px ;
}
header ul li a{
    text-decoration: none;/*去下划线*/
    color: white;
}
nav{
    height: 42px;
    background: url(../images/daohang1.gif) repeat-x;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
nav ul li{
    float: left;
    height: 42px;
    line-height: 42px;/*垂直水平*/
    width: 85px;
    background: url(../images/daohang.gif) no-repeat;
    text-align: center;/*水平居中*/
}
nav ul li a{
    text-decoration: none;
    color: black;
}
section{
    height: 800px;
    background:#eff6ef;
    padding: 10px 15px 0 15px;
    position: relative;
    
}
section ul{
    margin: 0 ;
    padding: 0;
    list-style: none;
    position: relative;
    top: 20px;
    left: 7px;

}
.daohang1{
    height: 62px;
    width: 160px;
    background: url(../images/dhaohang1.jpg) no-repeat;
    text-align: center;
    line-height: 62px;
    color: #04478e;
    font-size: 18px;
    font-weight: bolder;
}
.daohang2{
    width: 160px;
    height: 30px;
    background: url(../images/dhaohang2.jpg) /*no-repeat*/;
    text-align: center;

}
.daohang2 a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.daohang3{
    width: 160px;
    height: 75px;
    background: url(../images/dhaohang3.jpg) no-repeat;
}
div{
    background:url(../images/neirong.jpg) no-repeat;
    width: 764px;
    height: 51px;
    position: absolute;
    top: 30px;
    left: 220px;
}
div p{
    color: blue;
    font-size: 16px;
    padding-left: 75px;
    
}
.ybt{
    position: absolute;
    top: 120px;
    left: 800px;
}
.ybjj{
    position: absolute;
    top:120px;
    width:550px;
    left: 220px;
    font-size: 13px;
    line-height: 25px;
}
.jc{
    font-weight: bold;
}
footer{
    height: 60px;
    background: #336ea8;
    padding-top: 20px;
    color: white;
    font-size: 14px;
    text-align: center;

}